body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #f0e68c;
  text-shadow: 0 0 5px #ffd700, 0 0 10px #ffd700, 0 0 15px #ffecb3,
    0 0 20px #ffecb3, 0 0 25px #ffffe0, 0 0 30px #ffffe0;
  width: 100vw;
  height: 100vh;
  background-color: #333;
}

.invitation-card {
  width: 100vw;
  height: 100vh;
  background-image: url("fond_invitation.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Aligne le contenu en haut du conteneur */
  justify-content: flex-start;
  /* Permet le défilement si le contenu dépasse */
  overflow: auto;
}

.card-title {
  font-family: "Dancing Script", cursive;
  font-size: 8vw;
  text-align: center;
  margin-bottom: 2vh;
  z-index: 2;
  /* Crée un espace pour éviter la superposition avec le haut de la page */
  margin-top: 5vh;
}

.photo-frame {
  position: relative;
  width: 60vw;
  height: 30vh;
  margin-bottom: 2vh;
}

.photo-frame img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  border-radius: 5px;
}

.main-frame {
  /* Ne nécessite pas de positionnement absolu */
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90vw;
}

.intro-message,
.details,
.rsvp-button,
.rsvp-info {
  margin-bottom: 2vh;
}

.details {
  line-height: 1.6;
}

.rsvp-button {
  display: inline-block;
  padding: 1.5vh 4vw;
  background: linear-gradient(145deg, #ffd700, #daa520);
  color: #6a0dad;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 3vw;
  text-decoration: none;
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 2vh;
}

.rsvp-button:hover {
  transform: scale(1.05) translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}
